@import "../../styles/variables";

.language-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 150px;
  height: 100px;
  margin: 20px;
  background: $theme-gradient;
  border-radius: $border-small;
  text-align: center;
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: scale(1.1);
  }

  h4, h5 {
    margin: 0;
    height: 30px;
    line-height: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
    font-weight: normal;
  }
}
