@import "../../styles/variables";

.inputGroup {
  margin: 20px 0 40px;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.input {
  display: block;
  border-radius: $border-small;
  border: 1px solid transparent;
  background: #EFEFEF;
  padding: 10px 14px;
  margin-top: 20px;
  width: 260px;

  &:focus {
    border: 1px solid $bg-color;
  }

  @media all and (max-width: $bp-phone) {
    padding: 10px 5%;
    width: 90%;
  }
}

.error-msg {
  display: inline-block;
  color: #c80c0c;
  margin-top: 10px;
  font-size: 15px;
}
